# Data Preparation for a Machine Learning Trading Strategy

## Loading and Preparing the Data

In [9]:
# Import required libraries
import pandas as pd
from pathlib import Path

In [10]:
# Import the OHLCV dataset into a Pandas Dataframe
trading_df = pd.read_csv(Path("../Resources/ohlcv.csv"), index_col='date', infer_datetime_format=True, parse_dates=True)

# Display sample data
trading_df

                       open   high     low   close  volume
date
2018-10-19 09:30:00  16.900  17.18  16.900  17.095   11522
2018-10-19 09:45:00  17.110  17.44  17.110  17.400   70593
2018-10-19 10:00:00  17.400  17.40  17.250  17.280   38885
2018-10-19 10:15:00  17.270  17.27  17.180  17.200   37046
2018-10-19 10:30:00  17.210  17.37  17.190  17.200   46874
...                     ...    ...     ...     ...     ...
2020-09-04 14:45:00   6.225   6.26   6.220   6.250   55512
2020-09-04 15:00:00   6.255   6.27   6.245   6.250   65810
2020-09-04 15:15:00   6.250   6.29   6.250   6.275  202630
2020-09-04 15:30:00   6.270   6.28   6.250   6.255  130140
2020-09-04 15:45:00   6.250   6.28   6.250   6.250  190278

[12069 rows x 5 columns]

In [11]:
# Calculate the daily returns using the closing prices and the pct_change function
trading_df['actual_returns'] = trading_df['close'].pct_change()

# Display sample data
trading_df

                       open   high     low   close  volume  actual_returns
date
2018-10-19 09:30:00  16.900  17.18  16.900  17.095   11522             NaN
2018-10-19 09:45:00  17.110  17.44  17.110  17.400   70593        0.017841
2018-10-19 10:00:00  17.400  17.40  17.250  17.280   38885       -0.006897
2018-10-19 10:15:00  17.270  17.27  17.180  17.200   37046       -0.004630
2018-10-19 10:30:00  17.210  17.37  17.190  17.200   46874        0.000000
...                     ...    ...     ...     ...     ...             ...
2020-09-04 14:45:00   6.225   6.26   6.220   6.250   55512        0.003210
2020-09-04 15:00:00   6.255   6.27   6.245   6.250   65810        0.000000
2020-09-04 15:15:00   6.250   6.29   6.250   6.275  202630        0.004000
2020-09-04 15:30:00   6.270   6.28   6.250   6.255  130140       -0.003187
2020-09-04 15:45:00   6.250   6.28   6.250   6.250  190278       -0.000799

[12069 rows x 6 columns]

In [12]:
# Drop all NaN values from the DataFrame
trading_df = trading_df.dropna()

# Review the DataFrame
trading_df

                       open   high     low   close  volume  actual_returns
date
2018-10-19 09:45:00  17.110  17.44  17.110  17.400   70593        0.017841
2018-10-19 10:00:00  17.400  17.40  17.250  17.280   38885       -0.006897
2018-10-19 10:15:00  17.270  17.27  17.180  17.200   37046       -0.004630
2018-10-19 10:30:00  17.210  17.37  17.190  17.200   46874        0.000000
2018-10-19 10:45:00  17.200  17.20  17.100  17.120   11266       -0.004651
...                     ...    ...     ...     ...     ...             ...
2020-09-04 14:45:00   6.225   6.26   6.220   6.250   55512        0.003210
2020-09-04 15:00:00   6.255   6.27   6.245   6.250   65810        0.000000
2020-09-04 15:15:00   6.250   6.29   6.250   6.275  202630        0.004000
2020-09-04 15:30:00   6.270   6.28   6.250   6.255  130140       -0.003187
2020-09-04 15:45:00   6.250   6.28   6.250   6.250  190278       -0.000799

[12068 rows x 6 columns]

## Generating the Features and Target Sets

### Creating the Features Set

In [13]:
# Define a window size of 4
short_window = 4

# Create an SMA that uses short_window, and assign it to a new column named “sma_fast”
trading_df['sma_fast'] = trading_df['close'].rolling(window=short_window).mean()

/var/folders/dx/8m8b_r_57793yl3byvym44sh0000gn/T/ipykernel_3687/2572098696.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trading_df['sma_fast'] = trading_df['close'].rolling(window=short_window).mean()

In [14]:
trading_df

,open,high,low,close,volume,actual_returns,sma_fast
date,,,,,,,
2018-10-19 09:45:00,17.110,17.44,17.110,17.400,70593,0.017841,NaN
2018-10-19 10:00:00,17.400,17.40,17.250,17.280,38885,-0.006897,NaN
2018-10-19 10:15:00,17.270,17.27,17.180,17.200,37046,-0.004630,NaN
2018-10-19 10:30:00,17.210,17.37,17.190,17.200,46874,0.000000,17.27000
2018-10-19 10:45:00,17.200,17.20,17.100,17.120,11266,-0.004651,17.20000
...,...,...,...,...,...,...,...
2020-09-04 14:45:00,6.225,6.26,6.220,6.250,55512,0.003210,6.22875
2020-09-04 15:00:00,6.255,6.27,6.245,6.250,65810,0.000000,6.23875
2020-09-04 15:15:00,6.250,6.29,6.250,6.275,202630,0.004000,6.25125
2020-09-04 15:30:00,6.270,6.28,6.250,6.255,130140,-0.003187,6.25750
2020-09-04 15:45:00,6.250,6.28,6.250,6.250,190278,-0.000799,6.25750

In [15]:
# Define a window size of 100
long_window = 100

# Create an SMA that uses long_window, and assign it to a new columns named “sma_slow”
trading_df['sma_slow'] = trading_df['close'].rolling(window=long_window).mean()

/var/folders/dx/8m8b_r_57793yl3byvym44sh0000gn/T/ipykernel_3687/1701048050.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trading_df['sma_slow'] = trading_df['close'].rolling(window=long_window).mean()

In [29]:
trading_df

,open,high,low,close,volume,actual_returns,sma_fast,sma_slow
date,,,,,,,,
2018-10-19 09:45:00,17.110,17.44,17.110,17.400,70593,0.017841,NaN,NaN
2018-10-19 10:00:00,17.400,17.40,17.250,17.280,38885,-0.006897,NaN,NaN
2018-10-19 10:15:00,17.270,17.27,17.180,17.200,37046,-0.004630,NaN,NaN
2018-10-19 10:30:00,17.210,17.37,17.190,17.200,46874,0.000000,17.27000,NaN
2018-10-19 10:45:00,17.200,17.20,17.100,17.120,11266,-0.004651,17.20000,NaN
...,...,...,...,...,...,...,...,...
2020-09-04 14:45:00,6.225,6.26,6.220,6.250,55512,0.003210,6.22875,6.27030
2020-09-04 15:00:00,6.255,6.27,6.245,6.250,65810,0.000000,6.23875,6.26985
2020-09-04 15:15:00,6.250,6.29,6.250,6.275,202630,0.004000,6.25125,6.26910
2020-09-04 15:30:00,6.270,6.28,6.250,6.255,130140,-0.003187,6.25750,6.26855
2020-09-04 15:45:00,6.250,6.28,6.250,6.250,190278,-0.000799,6.25750,6.26785

In [30]:
# Drop the NaNs using dropna()
trading_df = trading_df.dropna()

In [31]:
trading_df

,open,high,low,close,volume,actual_returns,sma_fast,sma_slow
date,,,,,,,,
2018-10-24 15:00:00,15.660,15.66,15.600,15.615,80027,-0.002874,15.65250,16.34030
2018-10-24 15:15:00,15.630,15.66,15.520,15.530,76449,-0.005443,15.61875,16.32160
2018-10-24 15:30:00,15.540,15.54,15.180,15.410,137468,-0.007727,15.55375,16.30290
2018-10-24 15:45:00,15.410,15.42,15.350,15.350,688995,-0.003894,15.47625,16.28440
2018-10-25 09:30:00,15.550,15.55,15.205,15.320,44387,-0.001954,15.40250,16.26560
...,...,...,...,...,...,...,...,...
2020-09-04 14:45:00,6.225,6.26,6.220,6.250,55512,0.003210,6.22875,6.27030
2020-09-04 15:00:00,6.255,6.27,6.245,6.250,65810,0.000000,6.23875,6.26985
2020-09-04 15:15:00,6.250,6.29,6.250,6.275,202630,0.004000,6.25125,6.26910
2020-09-04 15:30:00,6.270,6.28,6.250,6.255,130140,-0.003187,6.25750,6.26855
2020-09-04 15:45:00,6.250,6.28,6.250,6.250,190278,-0.000799,6.25750,6.26785

In [34]:
# Assign a copy of the `sma_fast` and `sma_slow` columns to a new DataFrame called `X`
X = trading_df[['sma_fast', 'sma_slow']].shift().dropna().copy()

# Display sample data
X

                     sma_fast  sma_slow
date
2018-10-24 15:15:00  15.65250  16.34030
2018-10-24 15:30:00  15.61875  16.32160
2018-10-24 15:45:00  15.55375  16.30290
2018-10-25 09:30:00  15.47625  16.28440
2018-10-25 09:45:00  15.40250  16.26560
...                       ...       ...
2020-09-04 14:45:00   6.22625   6.27210
2020-09-04 15:00:00   6.22875   6.27030
2020-09-04 15:15:00   6.23875   6.26985
2020-09-04 15:30:00   6.25125   6.26910
2020-09-04 15:45:00   6.25750   6.26855

[11968 rows x 2 columns]

### Creating the Target Set

In [35]:
# Create a new column in the `trading_df` called "signal" setting its value to zero.
trading_df['signal']= 0.0

/var/folders/dx/8m8b_r_57793yl3byvym44sh0000gn/T/ipykernel_3687/1159017530.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trading_df['signal']= 0.0

In [36]:
# Create the signal to buy
trading_df.loc[(trading_df['actual_returns']>=0), 'signal'] = 1

In [37]:
# Create the signal to sell
trading_df.loc[(trading_df['actual_returns']<=0), 'signal'] = -1

In [38]:
# Copy the new "signal" column to a new Series called `y`.
y = trading_df['signal'].copy()

## Split the Data into Training and Testing Sets

In [39]:
# Import required libraries
from pandas.tseries.offsets import DateOffset

In [40]:
# Select the start of the training period
training_begin = X.index.min()

# Display the training begin date
training_begin

Timestamp('2018-10-24 15:15:00')

In [42]:
# Select the ending period for the training data with an offset of 3 months
training_end = training_begin + DateOffset(months=3)

# Display the training end date
training_end

Timestamp('2019-01-24 15:15:00')

In [43]:
# Generate the X_train and y_train DataFrames
X_train = X.loc[training_begin:training_end]
y_train = y.loc[training_begin:training_end]

In [44]:
# Generate the X_test and y_test DataFrames
X_test = X.loc[training_end:]
y_test = y.loc[training_end:]

## Standardize the Data

In [45]:
# Import required libraries
from sklearn.preprocessing import StandardScaler

In [28]:
# Create a StandardScaler instance
scaler = StandardScaler()
 
# Apply the scaler model to fit the X-train data
X_scaler = scaler.fit(X_train)
 
# Transform the X_train and X_test DataFrames using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)